@use "variables" as v;
@use "mixin" as m;
header, nav, .container-fluid {
  max-width: 100% !important;
  width: 100% !important;
}

main{
  background-color: v.$background;
}
header {
  width: 100%;
  background-color: v.$background;
  height: v.$header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  img {
    height: v.$header-height;
    filter: invert(1);
    margin-right: 0;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0 auto;
    padding-left: 0;
  }
}

.navbar {
  &-collapse {
    flex-grow: 0 !important;
  }

  &-nav {
    li {
      border: 1px solid v.$boton-borde;
      border-radius: 5px;
      justify-content: center;
      --bs-nav-link-color: #{v.$boton-borde} !important;
    }
  }
:hover{
  color: (v.$fuente-secundaria)
}
  .nav-link-active {
    color: v.$fuente-secundaria !important;
    padding: 10px 18px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  .nav-link {
    font-size: 1rem;
  }
}