@use "variables" as v;

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;

  .image-container {
    max-width: 800px;
    width: 100%;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0.5rem;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }
  }

  .text-container {
    max-width: 700px;
    color: v.$fuente-primaria;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
}